

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:(0,400px);
    min-width: 600px;
    max-width: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 10px;
    padding-right: 2rem;
    padding-left: 2rem;    
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.50);
}

.alertmsg {
    width: 100%;    
    transform: all 0.3s ease;
    transform: scale(0.9);
}

.alertmsg.show{
    display: block;
    transform: scale(1);
}

.alertmsg.hide{
    display: none;
}

#text {
    margin-top: 1rem;
    color: black;
    font-size: 1.5rem;
}
.task {
    width: 12rem;
    height: 3rem;
    background-color: white;
    border: 1.5px solid rgb(248, 213, 56);
    border-radius: 10px;
}
input {
    border: none;
}
#k1{
    margin-top: 0.4rem;
    height: 2rem;
    width: 11rem; 
    border-radius: 10px;
}
.date {
    width: 12.5rem;
    height: 3rem;
    background-color: white;
    border: 1.5px solid rgb(248, 213, 56);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  
}
#k2 {
    margin-top: 0.4rem;
    height: 2rem;
    width: 11rem;
    text-align: left;   
    border-radius: 10px;

}
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: black;
    margin-top: 1rem;
}
.at {
    background-color: rgb(248, 213, 56);
    height: 3rem;
    width : 5rem;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:250px;
    margin-top: 1rem;
}

#d1{
    height: auto;
    width: 150%;
    color: black;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.50);
}

.delete{
    height: 3rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    background-color: rgb(248, 213, 56);
    color: black;
    border-radius: 10px;
}
.table {
    margin-top: 1rem;
    width: 100%;
    
}

@media only screen and (max-width: 530px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}